@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
button {
  font-family: Onest, sans-serif;
}

.container {
  width: 100%;
  max-width: 100%;
}

input {
  outline: 0;
}

